.addNote {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    max-width: 400px;
    width: 50%;
    position: relative;

    p {
        margin: 0;
        padding: 10px 0;
        color: #a5a5a5; 
        
    }

    input {
        height: 30px;
        padding: 5px 15px;
        width: 100%;
        border: none;
        box-shadow: 1px 1px 3px #c5c5c5;
        border-radius: 5px;

        &:focus-visible {
            outline: none;
        }
    }

    textarea {
        resize: none;
        width: 100%;
        padding: 10px 15px;
        border: none;
        box-shadow: 1px 1px 3px #c5c5c5;
        border-radius: 0 0 5px 5px;
        margin-top: -5px;

        &.collapsed {
            height: 0;
            padding: 0;
        }
        
        &:focus-visible {
            outline: none;
        }
    }

    button {
        margin-top: -15px;
        height: 35px;
        padding-top: 5px;
        width: 90px;
        border: 0;
        border-radius: 0 0 5px 5px;
        background-color: #fff;
        position: absolute;
        bottom: -23px;
        right: -30px;
        box-shadow: 1px 2px 3px #c5c5c5;
        align-self: end;
        transition: all 200ms ease-in-out;

        &:hover {
            
            transform: translatey(5px);
        }
    }
}